@import "tailwindcss";

@theme inline {
  --color-main: #f7f6f4;
  --color-accent: #fff32a;
  --font-prompt: var(--font-prompt);
}

:root {
  --background: #f7f6f4;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f6f4;
    --foreground: #111827;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
